.App {
	margin: 0;
	height: 100%;
	width: 100%;
	background: #0a192f;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

@media screen and (max-width: 400px) {
	.App {
		margin: 0;
		width: 25rem;
	}
}
